/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

:root {
    --shadow: rgba(0,0,0, .08)
    --pink: #FFB9B9;
    --beige: #FFDDD2;
    --white-pink: #FFACC7;
    --stroge-pink: #FF8DC7;
}

/* html {
    font-size: 62.5%;
} */

.contenedor {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh;
    flex-wrap: wrap; */
}

/* pelo de la cabeza */

.pelo {
    position: absolute;
}

.cabello {
    width: 100px;
    height: 29px;
    border-top-left-radius: 232px;
    border-bottom-left-radius: 39px;
    border-top-right-radius: 132px;
    border-bottom-right-radius: 0;
    background-color: brown;
}

.cabello:nth-child(1) {
    transform: translate(7.3rem, 3.8rem) rotate(90deg);
    z-index: 1;
}

.cabello:nth-child(2) {
    transform: translate(6.5rem, -31px) rotate(-31deg);
    width: 61px;
    z-index: 2;
}

.cabello:nth-child(3) {
    transform: translate(-3rem, -60px) rotate(316deg);
    z-index: 3;
}

.cabello:nth-child(4) {
    transform: translate(1rem, -92px) rotate(-37deg);
    z-index: 4;
}

/* fin del pelo de la cabeza */

/* comienzo de la cara */
.face {
    height: 20rem;
    width: 12.8rem;
    border-radius: 40px;
    background-color: var(--beige);
    box-shadow: -.7rem .8rem 2.8rem -.5rem black;
}

.eye {
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.eye-left {
    position: relative;
    vertical-align: middle;
    transform: translate(1.7rem, 5.9rem);
}

.eye-right {
    position: relative;
    vertical-align: middle;
    transform: translate(7.1rem, 2.2rem);
}

.eye-white {
    width: 2.6rem;
    height: 2.6rem;
    background-color: white;
    border-radius: 50%;
}

.brown {
    width: 1.6rem;
    height: 1.6rem;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    transform: translate(.4rem, .5rem);
}

.nose {
    width: 3.2rem;
    height: 4rem;
    border-radius: 12px;
    background-color: var(--beige);
    box-shadow: -1px 8px 22px 2px var(--white-pink);
    transform: translate(46px, 13px) rotate(4deg);
}

.mounth {
    border-radius: 50%;
    width: 10rem;
    height: 0.8rem;
    border-bottom: 3px solid black;
    transform: translate(12px, 16px);
}

.chin {
    display: flex;
    position: absolute;
    transform: translate(29px, 20px);
}

.chin1, .chin2 {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--beige);
    box-shadow: -8px 8px 22px 2px var(--white-pink);
}

.chin2 {
    position: relative;
    right: 1rem;
}

.ear {
    width: 3.2rem;
    height: 4rem;
    border-radius: 12px;
    background-color: var(--beige);
    transform: translate(-13px, 96px)rotate(12deg);
}

/* final de la cara */

/* cuello  */
.neck {
    height: 16rem;
    width: 5rem;
    background-color: var(--beige);
    z-index: -1;
    transform: translate(-83px, 81px);
    border-end-end-radius: 12px;
    border-end-start-radius: 12px;
}