* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    background-image: radial-gradient(circle, #8BF5FA 2.5%, #324B4C, #95B0B2);
    height: 100vh;
}

html {
    font-size: 62.5%;
}

.contenido {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3,207px);
}

.desktop {
    grid-row: 3;
    grid-column: 1;
    place-self: center;
    transform: translate(10px, -54px);
}

.contenedor {
    grid-column: 3;
    grid-row: 1;
    place-self: center;
    transform: rotate(229deg);
}

.imagen-del-centro {
    grid-row: 2;
    grid-column: 2;
}

figure.imagen-del-centro {
    margin: 0 auto;
}

figure.imagen-del-centro p {
   position: absolute;
    font-size: 8rem;
    text-shadow: 1px 1px 19px black;
    color: white;
    margin: 72px 10px auto;
}

@media all and (max-width: 630px) {

    .contenido {
        display: grid;
        grid-template-columns: 1fr!important;
        gap: 4rem;
    }

    .desktop {
        grid-column: 1;
        grid-row: 3;
    }

    .contenedor {
        grid-column: 1!important;
        grid-row: 1;
    }

    .imagen-del-centro {
        grid-column: 1;
        grid-row: 2;
        transform: translate(12%, 16px);
    }

    figure.imagen-del-centro p {
        font-size: 6rem;
        text-align: center;
    }

}

@media all and (max-width: 780px) {
    .contenido {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        row-gap: 4rem;
    }

    .desktop {
        grid-row: 3;
        grid-column: 1;
    }

    .contenedor {
        grid-column: 2;
        grid-row: 1;
        text-align: center;

    }

    .imagen-del-centro {
       position: relative;
       right: 35px;
    }

    figure.imagen-del-centro p {
        font-size: 8rem;
        margin: 72px 10px auto;
    }

}

